<% if flash[:notice] %>
  <div class="alert alert-danger" role="alert">
    <%= flash[:alert].inspect %>
  </div>
<% end %>

<% if flash[:alert] %>
  <div class="alert alert-success" role="alert">
    <%= flash[:notice].inspect %>
  </div>
<% end %>
